<!DOCTYPE html>
<html>
    <head>
        <title>Shubhneet's News Article's Sarcasm Detector</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            headline: <input type="text" name="headline", placeholder="Enter Article's headline" required/>
            <br><br>
            <button value="Submit">Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>